header img {
    width: 50vw;
    filter: drop-shadow(2px 2px 4px #747474e4);
    margin: 1rem;
}

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 1vh;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 6px 25px -8px rgba(0, 0, 0, 0.91);
    -webkit-box-shadow: 1px 6px 25px -8px rgba(0, 0, 0, 0.91);
    -moz-box-shadow: 1px 6px 25px -8px rgba(0, 0, 0, 0.91);
    margin-bottom: 2vh;
}