header img {
  width: 50vw;
  /* filter: drop-shadow(2px 2px 4px #747474e4); */
  margin: 1rem;
}

.mainHeader {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 1vh;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 10px 10px 10px -1px rgba(0, 0, 0, 0.11);
  -webkit-box-shadow: 10px 10px 10px -1px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 10px 10px 10px -1px rgba(0, 0, 0, 0.11);
  margin-bottom: 2vh;
  position: sticky;
  top: 0;
  z-index: 2222222222;
}
