@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');

#root {
    min-height: 100vh;
    position: relative;
}

* {
    font-family: 'Manrope', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    min-height: 90vh;
}